#jumbotron {
	background-image: url("../src/shared/bread.jpg");
	background-size: cover;
	background-position: center;
	background-color: #CD192E;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	align-content: center;
	height: 20rem;
}

