#jumbotron {
	background-image: url("../src/shared/bread.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	align-content: center;
	height: 20rem;
}

#searchbar {
	padding: 5rem;
}

#title{
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#descriptionTitle{
	text-align: center;
	margin-top: 1em;

}

#stepsTitle {
	text-align: center;
	margin-top: 1em;
}

#ingredientsTitle {
	text-align: center;
	margin-top: 1em;

}

#description, #ingredients, #steps {
	text-align: center;
}



/*#myCard{*/
/*	display: flex;*/
/*	align-content: space-around;*/
/*	y u no do wut i want*/
/*}*/